[submodule "WebApp"]
	path = WebApp
	url = https://github.com/CatalystCollab/catalyst-web-app.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/CatalystCollab/catalyst-backend.git
[submodule "wiki"]
	path = wiki
	url = https://Github.com/CatalystCollab/catalyst-beta.wiki.git
